.DS_Store
.idea
*.log
*.jdbc
*.iml
target
*.class
*.jar
*.war
*.ear
*.rar
*.ipr
*.iws
*.ddl
rebel.xml
# vova: old value (*DB) commented, added (chapter08DB) instead
chapter08DB
*.dat
.classpath
.project
.settings
WebContent
*.vpp~*
*.vpdm
vpproject
.vpprefdata
*dummy*.*
*-soapui-project.xml
.lock
teamworkUser.xml
projectFilesBackup*
create.sql
drop.sql
